@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --color-principal-blue: #0F91FC;
    --color-principal-purple: #6D31E6;

    --color-basic-white: #F8F8F2;
    --color-basic-black: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

}

body { 
    background-color: var(--color-basic-black);
     
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--color-basic-white);
}

h1, h2 { 
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    
}

h1 {
    font-size: 48px;
}

h3, h4, h5, h6, p{
    font-family: "Fira Code", serif;
  
}

p {
    font-size: 18px;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.block {
    display: block;
}

img {
    width: auto;
}

main {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}

header, main {
    padding-left: 30px;
    padding-right: 30px;
}

.div_purple {
    background-color: var(--color-principal-purple);
}

.div_blue {
    background-color: var(--color-principal-blue);
}

.highlight_purple {
    color: var(--color-principal-purple); /* Cor personalizada para o nome */
    font-weight: bold; /* Torna o nome em negrito */
}

.highlight_blue {
    color: var(--color-principal-blue); /* Cor personalizada para o nome */
    font-weight: bold;
}


body::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estiliza o polegar da barra de rolagem */
body::-webkit-scrollbar-thumb {
    background-color: #3b3b3b; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid var(--color-basic-black); /* Adiciona uma borda ao polegar */
}

/* Estiliza o polegar da barra de rolagem ao passar o mouse */
body::-webkit-scrollbar-thumb:hover {
    background-color: #505050; /* Cor do polegar da barra de rolagem ao passar o mouse */
}

/* Estiliza a trilha da barra de rolagem */
body::-webkit-scrollbar-track {
    background-color: #00000000; /* Cor da trilha da barra de rolagem */
}

/* Estiliza a parte da trilha da barra de rolagem não coberta pelo polegar */
body:-webkit-scrollbar-track-piece {
    background-color: #00000000; /* Cor da trilha da barra de rolagem não coberta pelo polegar */
}

/* Estiliza o canto onde duas barras de rolagem se encontram */
body::-webkit-scrollbar-corner {
    background-color: #f1f1f100; /* Cor do canto onde duas barras de rolagem se encontram */
}

/* Estiliza o controle de redimensionamento do canto inferior direito da barra de rolagem */
body::-webkit-resizer {
    background-color: #88888800; /* Cor do controle de redimensionamento */
}